LLM_PROVIDERS="google,openrouter"
LLM_GOOGLE_API_KEY="AIxxx"
LLM_GOOGLE_MODEL="gemini-2.0-flash-lite"
LLM_OPEN_ROUTER_API_KEY="sk-or-v1-xxx"
LLM_OPEN_ROUTER_MODEL="google/gemini-2.0-flash-exp:free"

APP_ENV=debug
APP_PORT=50051
APP_TIMEOUT=5s
